body {
	display: flex;
	flex-direction: column;

	position: relative;

	flex-grow: 1;

	max-width: 64em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0em;
	margin-bottom: 0em;

	overflow-y: scroll;
}

div.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


div.navigation > div,
div.navigation > div > a {
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	color: white;
	text-decoration: none;
	flex-grow: 1;
	text-align: center;
	height: 3em;
}

div.header a {
	color: white;
	display: block;
}

div.header .branding {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	margin-top: 1em;
}

div.header .topLeft {
	margin: 0.5em;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
}

div.header .topRight {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	color: white;
	text-align: right;
	margin: 0.5em;
}

div.header .logo {
	height: 8em;
	margin: 1em;
	pointer-events: initial;
}

img.icon {
	height: 1.25em;
	margin: 0.5em;
	align-self: center;
}

div.content {
	flex-grow: 1;
	background-color: white;
}

div.footer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: black;
	color: white;
	padding: 4em;
	flex-grow: 0;
	align-items: flex-start;
	justify-content: space-between;
}

div.footer div {
	display: flex;
	flex-direction: column;
}

div.footer div div {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.5em;
	line-height: 2.25em;
}


div.footer div div .icon {
	margin-left: 0em;
	margin-top:  0em;
	margin-bottom: 0em;
}

div.below-fold {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

div.below-fold div {
	width: 50%;
}

.footer a {
	color: white;
}

.footer .attribution {
	width: 100%;
	margin-top: 2em;
}

.footer .attribution a {
	display: inline;
	margin-left: 0.5em; 
}

.tile form {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
}


.tile form label {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.tile form textarea {
	flex-grow: 1;
}

.tile form label {
	margin-top: 0.5em;
	margin-bottom: 0.5em;

}

.tile form textarea, .tile form input {
	margin-top: 0.25em;
	border-radius: 0.25em;
	border: 1px #ccc solid;
	padding: 1em;
}

.tile form textarea {
	resize: vertical;
}

.tile form button {
	margin-right: 0px;
}

.cloudflare-badge {
	background-position: -240px center !important;
	
}