* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
html, body {
	min-height: 100vh;
}

img[src$=".svg"] {
	transform: rotateY(0deg);
}