body {
	background-color: #eaffff;
	background-image: url('/pattern.png');
	font-family: sans-serif;
}

div.header {
	background: #006cb6;
	position: relative;
}

div.branding {
	position: relative;
	z-index: 7;
	user-select: none;
}

div.branding p {
	font-family: 'microgramma';
	font-weight: bold;
	font-size: 2.2em;
	color: #FFF;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.65);
	white-space: pre;
	min-width: 200px;
}

div.branding p sup {
	font-size: 0.35em;
}

div.topLeft, div.topRight {
	position: absolute;
	color:white;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.45);
	z-index: 100;
}

div.below-logo > div:first-child {
}

div.navigation {
	background-color: #00a0e8;
	min-height: 3em;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 0em;
	margin-bottom: 0em;
	position: relative;
	top: -1.5em;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 6px rgba(0,0,0,0.65);
	user-select: none;
}

div.navigation > div {
	font-size: 0.9em;
}

div.content {
	margin-top: -3em;
	z-index: 0;
}

div.hero {
	background-image: url('/faucet-cropped.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	height: 32em;
	position: relative;
}

div.hero div.overlay {
	font-style: italic;
	flex-direction: column;
	position: absolute;
	top: 16.5%;
	left: 8%;
	background-color: rgba(0,0,0,0.5);
	padding: 3em;
	box-sizing: border-box;
	height: 66%;
	width: 345px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

div.hero p {
	font-size: 1.25em;
}

a > button {
	cursor: pointer;
}

.cta {
	border:none;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #006cb6;
	color: white;
	border-radius: 0.5em;
	font-size: 1.2rem; 
	font-weight: bold;
	text-transform: uppercase;
	margin: auto;
	box-shadow: 0px 4px 6px rgba(0,0,0,0.65);
	margin-top: 2em;
	margin-bottom: 2em;
}

div.hero div.overlay .cta {
	background: #00a0e8;;
	color: white;
}

div.content div.tile {
	padding: 2em;
	min-height: 24em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

div.content div.tile.wide {
	width: 100%;
}

div.content div.frame {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.footer p {
	margin: 0em;
	align-items: center;
	min-height: 1.25em;
	display: flex;
}

div.footer .badge {
	height: 3.5em;
	margin-right: 1em;
}

div.van-tile, div.recent-tile {
	background-image: url('/van-sketch.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 24em;
}

div.van-tile {
	background-image: url('/van-sketch.jpg');
}

div.recent-tile {
	background-image: url('/recent.webp');
}

.tile ul li {
	font-size: 1.25em;
	margin-bottom: 0.5em;
}

.tile a {
	width: 100%;
	text-decoration: none;
}

.tile a button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}